@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
body {
  font: 16px/1.6 "Ubuntu", sans-serif;
  color: #fff;
  text-align: center;
  background: #003760;
}
img {
  border: 0;
  max-width: 100%;
}
html {
  -ms-overflow-style: scrollbar;
}
.alltrans,
.social-icons li a,
.owl-nav > button,
.owl-nav > button:after,
.counter-box,
.about-img:after,
.gallery-img img,
.form-control,
.owl-dot,
.subscribe-row,
.close-btn,
.close-btn:before,
.close-btn:after,
.tag-btn,
.btn {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #fff;
  outline: none;
  text-decoration: underline;
}

.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

.logo {
  margin: 70px auto;
}
.logo-img {
  width: 15em;
  filter: contrast(0) brightness(2);
}
.welcome-box {
  margin-bottom: 30px;
}
.welcome-box .welcome-first {
  font-size: 1.5em;
  line-height: 0.5em;
  letter-spacing: 0.1em;
}
.welcome-box .welcome-title {
  font-size: 4em;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: -0.05em;
  color: #9ecf84;
}
.welcome-box p {
  font-size: 1.2em;
  line-height: 150%;
  text-align: center;
  margin: auto;
}
#social-icons {
  padding: 0;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  z-index: 199;
}
.social-icons {
  margin: 0;
  padding: 0;
  list-style: none;
}
.social-icons li {
  display: block;
  margin: 10px 0px;
}
.social-icons li a {
  width: 2em;
  height: 2em;
  border-radius: 10px;
  display: inline-block;
  line-height: 2em;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 1);
  font-size: 1.5em;
}
.social-icons li a:hover {
  color: #96989a;
  background-color: #fff;
}

/* Vegas Slide */
.vegas-slide-inner {
  filter: grayscale(0.7) contrast(1.2) saturate(1.5);
}
.vegas-slide-inner::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0.95;
  background: linear-gradient(
    114.31deg,
    rgba(0, 45, 79, 1) 20%,
    rgba(0, 55, 96, 0.9) 50%,
    rgba(150, 152, 154, 1) 100%
  );
}
footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  left: 0;
  right: 0;
  font-size: 0.7em;
  letter-spacing: 0.05em;
}

/* Media Queries */

@media only screen and (min-width: 320px) {
  body {
    font-size: 0.6em;
  }
}
@media only screen and (min-width: 768px) {
  body {
    font-size: 0.9em;
  }
}
@media only screen and (min-width: 1024px) {
  body {
    font-size: 0.9em;
  }
}
@media only screen and (min-width: 1366px) {
  body {
    font-size: 1em;
  }
}
@media only screen and (min-width: 1440px) {
  body {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 2560px) {
  body {
    font-size: 1.5em;
  }
}
