@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
body {
  font: 16px/1.6 "Ubuntu", sans-serif;
  color: #fff;
  text-align: center;
  background: #003760;
}
img {
  border: 0;
  max-width: 100%;
}
html {
  -ms-overflow-style: scrollbar;
}
.alltrans,
.social-icons li a,
.owl-nav > button,
.owl-nav > button:after,
.counter-box,
.about-img:after,
.gallery-img img,
.form-control,
.owl-dot,
.subscribe-row,
.close-btn,
.close-btn:before,
.close-btn:after,
.tag-btn,
.btn {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #fff;
  outline: none;
  text-decoration: underline;
}

.logo {
  margin: 70px auto;
}
.logo-img {
  width: 250px;
  filter: contrast(0) brightness(2);
}
.welcome-box {
  margin-bottom: 30px;
}
.welcome-box .welcome-first {
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0.1em;
}
.welcome-box .welcome-title {
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0.1em;
  color: #9ecf84;
}
.welcome-box p {
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  width: 960px;
  margin: auto;
}
#social-icons {
  padding: 0;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  z-index: 199;
}
.social-icons {
  margin: 0;
  padding: 0;
  list-style: none;
}
.social-icons li {
  display: block;
  margin: 10px 0px;
}
.social-icons li a {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
}
.social-icons li a:hover {
  color: #1e1e1e;
  background-color: #fff;
}

footer {
  font-size: 12px;
  letter-spacing: 0.05em;
}

/* Background Slide */
#bg-slide {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#bg-slide::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
  opacity: 0.95;
  background: linear-gradient(
    114.31deg,
    rgba(0, 45, 79, 1) 13.32%,
    rgba(0, 55, 96, 0.95) 48.65%,
    rgba(150, 152, 154, 0.95) 100%
  );
}
#bg-slide::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0.8;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  /* background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png"); */
}
#bg-slide .slide-item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: -999;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: imageAnimation 40s linear infinite 0s;
  -moz-animation: imageAnimation 40s linear infinite 0s;
  animation: imageAnimation 40s linear infinite 0s;
  filter: grayscale(0.5) contrast(0.9) saturate(1.5);
}

/* #bg-slide div.slide-item:nth-of-type(1) {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  animation-delay: 6s;
} */
#bg-slide div.slide-item:nth-of-type(2) {
  -webkit-animation-delay: 10s;
  -moz-animation-delay: 10s;
  animation-delay: 10s;
}
#bg-slide div.slide-item:nth-of-type(3) {
  -webkit-animation-delay: 20s;
  -moz-animation-delay: 20s;
  animation-delay: 20s;
}
#bg-slide div.slide-item:nth-of-type(4) {
  -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
  animation-delay: 30s;
}

@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
  }
  12.5% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes imageAnimation {
  0% {
    opacity: 0;
    -moz-animation-timing-function: ease-in;
  }
  12.5% {
    opacity: 1;
    -moz-animation-timing-function: ease-out;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  12.5% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  12.5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  12.5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  12.5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
